<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<div class="panel mid">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <h3 class="panel-title">Queue </h3>
      </li>
    </ul>
  </div>
  <div class="panel body">
    <table class="studentTable">
      <tr>
        <th>Name of Game</th>
        <th>System</th>
        
      </tr>
      <% @list.each do |list| %>
        <tr>
          <% this= Game.find(list.game_id) %>
          <td> <%= this.name %> </td>
          <td> <%=this.system%> </td>
          <% if !list.gone_out %>
          <td> <%= link_to 'Remove', "/users/#{@current.id}/lists/#{list.id}", method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <%end%>
        </tr>
      <%end%>
    </table>
  </div>
</div>