<div align="center">
  <h1><b>Welcome to Gamer Universe&reg;</b></h1>

  <img src= "http://www.mobilegamingexperience.com/images/characters_51e49a4e4a119.jpg" height=80% width=80% align="middle">
</div>
<!--
  <br><%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
-->

