<div class="panel mid">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <h3 class="panel-title">SCREW GAMEFLY </h3>
        
      </li>
    </ul>
  </div>
  <div class="panel body">
    
    
  </div>
</div>