<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<div class="lefts">
  <div class="leftpanel">
    <br>
    hello
  </div>
</div>

<div class="mid">
<table>
  <tr>
    <th>Name of Game</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td> <%= game.name %> </td>
    </tr>
  <%end%>
</table>
</div>
  
<div class="rights">
  <div class="rightpanel">
    <br>
    <img src="http://www.etftrends.com/wp-content/uploads/2010/09/WhatsNewIcon.jpg" align="center" height="70px" width="140px">
    <br>
    <br>
  </div>
  <div class="newgames">
    <img src="http://upload.wikimedia.org/wikipedia/en/9/9c/Call_of_duty_ghosts_box_art.jpg" width=100px height="150">    
    <br>
    <br>     
    <img src="http://upload.wikimedia.org/wikipedia/en/0/02/Thief_box_art.jpg" width=100px height="150">      
    <br>
    <br>     
    <img src="http://upload.wikimedia.org/wikipedia/en/8/84/Titanfall_box_art.jpg" width=100px height="150">     
  </div>
</div>
