
<div class="panel mid">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <h3 class="panel-title">COMING SOON </h3>
      </li>
    </ul>
  </div>
  <div class="panel body">
    <table class="studentTable">
      <tr>
        <th> </th>
        <th>Name of Game</th>
        <th>Release Date</th>
      </tr>
      
      <tr>
        
        <td><img src= "http://cdn3.spong.com/pack/e/a/easportsuf397848l/_-EA-Sports-UFC-PS4-_.jpg" alt="image" height=100 width=100></td>
        <td> UFC </td>
        <td> 6/17/2014 </td>
          
      </tr>
      <tr>
        <td><img src= "http://www.gameseek.co.uk/images/products/watch_dogs_ps4.jpg" alt="image" height=100 width=100></td>
        <td> Watch Dogs </td>
        <td> 5/27/14 </td>
      </tr>
      
    </table>
    
  </div>
</div>