// import the CSS framework
@import "bootstrap";

.homepic{
 opacity:0.9;
}

.centera{
 margin-left: auto;
 margin-right: auto;
}

.transparent {
  position: absolute;
  left: 20%;
  height: 80%;
  width: 60%;
}
#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}
.blue{
 color:#007ACC;
 padding-left:15px;
}
.green{
  color:#003300;
}
table
{
border-collapse:collapse;
}
table, th, td
{
border: 1px solid black;
padding: 3px;
}
#navcontainer ul li { display: inline; }
.in{
 display: inline; 
}
html, body { height: 100%; width: 100%; }
html, body{background-image: image-url("back7.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;}
.test {
  width: 70%}

.mid {
  position: absolute;
  left: 10%;
  width: 80%;
  
  background-color:#EEEEEE;
  opacity: 0.9;
}

.lefts {
    position: relative;
    top: 0;
    float:left;
    width: 20%; /* width of sidebar */
    height: 95%;
    border-radius: 15px;
    background-color:#191E19;
    color:#ffffff;
  
}

.rights {
    position: relative;
    top: 0;
    float:right;
    width: 20%; /* width of sidebar */
    height: 95%;
    border-radius: 15px;
    background-color:#191E19;
    color:#ffffff;
}
.image {
 height:15%;
 width:90%;
}

.newgames {
  position:relative;
  float:left;
  top: 130px;
  padding:25px; 
}

li
{
display:inline;
}
.leftpanel {
  position: relative;
  float:right;
  padding: 5px;
}
.rightpanel {
  position: relative;
  float:left;
  padding: 5px;
  width:15%;
  
}
.pad {
 padding-top:50px; 
}
.pad2 {
  padding-right:6px;
}

.option-button {
    color:#000000;
    height:35px;
    
    font-size:140%;
    font-weight:bold;
}

