<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
	    <div class="container">
        <div class="navbar-header">
          <a href="/welcome/index"><img src="http://www.1fogames.com/gamer.png" alt="logo" height="100px" width="150px"/></a>
        </div>
        <div class="pad">
          <ul>
         
          <li class="pad2"><a href="/games" class="btn btn-default btn-xs option-button"><span class="glyphicon glyphicon-road"></span> Games</a></li>
          <li class="pad2"><a href="#" class="btn btn-default btn-xs option-button"><span class="glyphicon glyphicon-plane"></span> Coming Soon</a></li>
          <li class="pad2"><a href="#" class="btn btn-default btn-xs option-button"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
          
       </ul>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>

</body>
</html>
